.header {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3%;
    background: linear-gradient(90deg, rgba(0,245,50,0.4) 0%, rgba(249,186,91,0.4) 45%, rgba(228,59,59,0.4) 100%);
}
/* .transparent-bg{
	background: rgba(255, 165, 0, 0.3);
    padding: 20px;
    text-align: center;
    font-size: 26px;
} */